.cursor
.git
.github
.next
.vscode
node_modules
.gitignore
.prettierrc
.env*.local
README.md
tsconfig.tsbuildinfo
docker-compose*.yml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.pem
.vercel
.turbo
*.swp
*.swo
*~
.eslintrc
coverage/