@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  /* 北欧灰主题 */
  [data-theme='gray'] {
    --bg-1: #fffefb; /* 主背景色 */
    --bg-2: #f5f4f1; /* 次背景色 */
    --bg-3: #cccbc8; /* 第三背景色 */
    --primary-1: #d4eaf7; /* 主色 */
    --primary-2: #b6ccd8; /* 主色变体 */
    --primary-3: #3b3c3d; /* 主色变体3 */
    --accent-1: #71c4ef; /* 强调色1 */
    --accent-2: #00668c; /* 强调色2 */
    --text-1: #1d1c1c; /* 主文字色 */
    --text-2: #313d44; /* 次文字色 */
  }
  [data-theme='gray'].dark {
    --bg-1: #1a1f2b;
    --bg-2: #292e3b;
    --bg-3: #414654;
    --primary-1: #2c3a4f;
    --primary-2: #56647b;
    --primary-3: #b4c2dc;
    --accent-1: #ff4d4d;
    --accent-2: #ffecda;
    --text-1: #ffffff;
    --text-2: #e0e0e0;
  }

  /* 深海蓝主题 */
  [data-theme='blue'] {
    --bg-1: #ffffff;
    --bg-2: #f5f5f5;
    --bg-3: #cccccc;
    --primary-1: #3f51b5;
    --primary-2: #757de8;
    --primary-3: #dedeff;
    --accent-1: #2196f3;
    --accent-2: #003f8f;
    --text-1: #333333;
    --text-2: #5c5c5c;
  }
  [data-theme='blue'].dark {
    --bg-1: #0f1c2e;
    --bg-2: #1f2b3e;
    --bg-3: #374357;
    --primary-1: #1f3a5f;
    --primary-2: #4d648d;
    --primary-3: #acc2ef;
    --accent-1: #3d5a80;
    --accent-2: #cee8ff;
    --text-1: #ffffff;
    --text-2: #e0e0e0;
  }

  /* 暮山紫主题 */
  [data-theme='purple'] {
    --bg-1: #e6e6fa;
    --bg-2: #d2d2f6;
    --bg-3: #ffffff;
    --primary-1: #6b5b95;
    --primary-2: #4b4068;
    --primary-3: #e1ddeb;
    --accent-1: #ff7f11;
    --accent-2: ##be5800;
    --text-1: #333333;
    --text-2: #424242;
  }
  [data-theme='purple'].dark {
    --bg-1: #241b35;
    --bg-2: #342a45;
    --bg-3: #4d425f;
    --primary-1: #6c35de;
    --primary-2: #a364ff;
    --primary-3: #ffc7ff;
    --accent-1: #cb80ff;
    --accent-2: #373737;
    --text-1: #ffffff;
    --text-2: #e0e0e0;
  }

  /* 樱花粉主题 */
  [data-theme='pink'] {
    --bg-1: #fceef5;
    --bg-2: #ffffff;
    --bg-3: #fad9e6;
    --primary-1: #e05297;
    --primary-2: #f3bad6;
    --primary-3: #e0e2e5;
    --accent-1: #f5be0b;
    --accent-2: #fef1c7;
    --text-1: #292524;
    --text-2: #78716c;
  }
  [data-theme='pink'].dark {
    --bg-1: #393232;
    --bg-2: #8d6262;
    --bg-3: #4d4545;
    --primary-1: #ed8d8d;
    --primary-2: #cfb997;
    --primary-3: #fdf6fd;
    --accent-1: #6f8aa1;
    --accent-2: #9eb2c2;
    --text-1: #eeeeee;
    --text-2: #fdebed;
  }

  /* 朱砂红主题 */
  [data-theme='red'] {
    --bg-1: #eeebdd;
    --bg-2: #dfd3c3;
    --bg-3: #c7b198;
    --primary-1: #810000;
    --primary-2: #630000;
    --primary-3: #f0f5f9;
    --accent-1: #788189;
    --accent-2: #e1e4e6;
    --text-1: #1e2022;
    --text-2: #52616b;
  }
  [data-theme='red'].dark {
    --bg-1: #4c0000;
    --bg-2: #5f1415;
    --bg-3: #7d2f2b;
    --primary-1: #ff5733;
    --primary-2: #ff8a5f;
    --primary-3: #fff3bf;
    --accent-1: #ffc300;
    --accent-2: #916600;
    --text-1: #ffffff;
    --text-2: #a4a4a4;
  }

  /* 棕榈黄主题 */
  [data-theme='brown'] {
    --bg-1: #f5efe7;
    --bg-2: #ebe5dd;
    --bg-3: #c2bdb5;
    --primary-1: #c7b299;
    --primary-2: #a9957d;
    --primary-3: #675640;
    --accent-1: #a68b5b;
    --accent-2: #483507;
    --text-1: #4d4d4d;
    --text-2: #797979;
  }
  [data-theme='brown'].dark {
    --bg-1: #3c2f2f;
    --bg-2: #4d3f3f;
    --bg-3: #675858;
    --primary-1: #e6b8a2;
    --primary-2: #c79b86;
    --primary-3: #825b48;
    --accent-1: #c96a4e;
    --accent-2: #ffffdc;
    --text-1: #ffffff;
    --text-2: #e0e0e0;
  }
}

@theme {
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-bg-3: var(--bg-3);
  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
}

/* 为页面内容添加淡入效果 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer base {
  body > * {
    animation: fadeIn 0.2s ease-in;
  }
}
